<!DOCTYPE html>
<body>
  <head>
  </head>
 <main>
  <div style="text-align: center;">
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
    <img src="favicon.png" width="30%" class="mx-auto">
    <h2 class="custom-h2">ねことわたし</h2>
  </div> 
    <div align="center" class="add">
   <%= link_to '誕生日を登録', new_cat_path,
     class: "inline-block frex-none group h-10 items-center justify-center rounded-md border border-pink-200 bg-gradient-to-b from-pink-50 via-pink-100 to-pink-50 px-4 text-pink-900 hover:bg-gradient-to-b hover:from-pink-100 hover:via-pink-100 hover:to-pink-100 active:shadow-inner block group-active:[transform:translate3d(0,1px,0)]"
   %>
  <%= render 'cats/list' %>
    </div>  
 </main> 
</body>
</html>