  <!DOCTYPE html>
  <head>
    
  </head>

<div class="top-wrapper">
  <div class="top-inner-text">
  <div style="text-align: center;">
    <h1>
    <%= image_tag "favicon.png" %>
    </h1>
    <h1>ねことわたし</h1>
    <div align="center" class="add">
    <button class="group flex h-10 items-center justify-center rounded-md border border-pink-200 bg-gradient-to-b from-pink-50 via-pink-100 to-pink-50 px-4 text-pink-900 hover:bg-gradient-to-b hover:from-pink-100 hover:via-pink-100 hover:to-pink-100 active:shadow-inner">
    <span class="block group-active:[transform:translate3d(0,1px,0)]">バースデイを登録</span>
    <p align="center" class="add">
  </div>  
  </div>
</div>
</html>