<footer>
  <p>© 2026 ねことわたし</p>
  <ul>
    <li><a href="#privacy">プライバシーポリシー</a></li>
    <li><a href="#contact">お問い合わせ</a></li>
    <li><a href="#sitemap">サイトマップ</a></li>
  </ul>
  <div class="social-media">
    <a href="https://facebook.com">Facebook</a>
    <a href="https://twitter.com">Twitter</a>
  </div>
</footer>