<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ねことわたし</title>
    <style>
     ul {
      diplay: frex;
      list-style: none;
      padding: 0;
     }
     ul li {
      display: inline-block;
      margin-right: 10px;
     }
    </style>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="index.html">ねことわたしとは</a></li>
            <li><a href="about.html"></a>新規登録</li>
            <li><a href="services.html">ログイン</a></li>
            <li><a href="contact.html">マイページ</a></li>
        </ul>
    </nav>
</header>
</body>
</html>