<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ねことわたし</title>
    <style>
        /* ここにはCSSを書いて横並びにするスタイリングを追加する */
    </style>
</head>
<body>
<header>
    <div class="logo">
        <img src="logo.png" alt="サイトのロゴ">
    </div>
    <nav>
        <ul>
            <li><a href="index.html">ねことわたしとは</a></li>
            <li><a href="about.html"></a>新規登録</li>
            <li><a href="services.html">ログイン</a></li>
            <li><a href="contact.html">マイページ</a></li>
        </ul>
    </nav>
</header>
</body>
</html>